html, body {
    font-family: "Sora", sans-serif;
    }
* {
    font-family: inherit;
    }
.md-button:link,
.md-button:visited,
.md-button:active,
.md-button {
    display: inline-block;
    padding: 8px 16px;
    margin: 4px;
    font-size: 14px;
    color: white;
    background-color: #004791;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    }
.md-button:hover {
    background-color: #6298d2 !important;
    color: white;
    }
.md-sidebar {
    height: 100%;
    overflow-y: hidden;
    background-color: #ebe5e0;
    box-shadow: none;
    border-bottom: none;
    }
.md-elipsis,
.md-elipsis:link,
.md-elipsis:visited {
    color: black !important;
    }
.md-ellipsis:hover {
    color: black;
    font-weight: bold;
    }
h1, h2, h3, h4 {
    color: #004791 !important;
    font-weight: 600 !important;
    }
.md-nav__title,
.md-footer,
.md-header__title {
    display: none;
    }
.md-header {
    background-color: white;
    padding: 0;
    box-shadow: none;
    border-bottom: none;
    }
.md-search__form {
    background-color: #ebe5e0;
    border: 1px solid #ccc;
    }
.md-search__form:hover,
.md-search__form:focus-within {
    background-color: white;
    border-color: #888;
    }
.md-search__input {
    background-color: transparent;
    color: black;
    }
.md-search__input:focus {
    background-color: #fff;
    outline: none;
    }
.md-search__input::placeholder {
    color: #888;
    }
.md-icon {
    color: #000000 !important;
    }
.header-class {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    background: linear-gradient(to right, #4b0029, #010088);
    color: white !important;
    }
.header-h2 {
    margin:  10px 10px 10px 10px;
    font-size: 30px;
    color: white !important;
    }
.header-h3 {
    margin:  10px 10px 10px 10px;
    font-size: 20px;
    color: white !important;
    }
.header-div-column {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
    margin-left: 200px; 
    }
.header-user-area {
    font-size: 1.0rem;
    font-weight: 600;
    }
.header-div-row {
    display: flex;
    flex-direction: row;
    color: white !important;
    }
.header-a {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 10px 10px 30px;
    color: white !important;
    text-decoration-line: none;
    }
.header-a:hover,
.header-a:focus {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    }
